/*** highlighter style ***/
/*
    this .css is organized by alphabetizing properties and selectors (alphabetical convention).

    I first ordered all the tags, then the classes and finally the ids. Furthermore, to avoid ambiguity, for each block of properties, from right to left this rule applies: in the ordering, tags take priority over classes and classes take priority over ids
*/

:root {
    --color-bash-keyword: #7c027c;
    --color-comment:      #066b06;
    --color-keyword1:     #2958d8;
    --color-keyword2:     #9f0eac;
    --color-keyword3:     #646304;
    --color-string:       #96400e;
}

/*** TAGS ***/
html[data-theme="dark"] {
    --color-bash-keyword: var( --color-lettering);
    --color-comment:      var( --color-lettering);
    --color-keyword1:     var( --color-lettering);
    --color-keyword2:     var( --color-lettering);
    --color-keyword3:     var( --color-lettering);
    --color-string:       var( --color-lettering);
}

/*** CLASSES ***/
.bash-keyword {
    color: var(--color-bash-keyword);
}

.c-comment,
.python-comment {
    color: var(--color-comment);
}

.c-comment *,
.python-comment * {
    color: inherit !important;
}

.c-keyword1,
.python-keyword1 {
    color: var(--color-keyword1);
}

.c-keyword2,
.python-keyword2 {
    color: var(--color-keyword2);
}

.c-keyword3,
.python-keyword3 {
    color: var(--color-keyword3);
}

.string {
    color: var(--color-string);
}

.bash-keyword,
.c-comment,
.c-keyword1,
.c-keyword2,
.c-keyword3,
.python-comment,
.python-keyword1,
.python-keyword2,
.python-keyword3,
.string {
    font-family: inherit;
}

/*** IDS ***/
/**/
